body{
    font-family: 'Times New Roman', Times, serif;
    background-color: #fff8d8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container{
    
        max-width: 600px;
        padding: 100px;
        background-color: #fff8d8;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        box-shadow: 0 0 10px white;
        margin-left: 325px;
}

h1{
    text-align: center;
    color: #fff8d8;
}

input{
    width: calc(100% - 22px);
    padding: 10px;
    margin: 10px;
    border: 1px solid #af0404;
    border-radius: 5px;
    margin-left: 0px;
}

button{
    width: 100%;
    padding: 10px;
    background-color: #af0404;
    border: none;
    border-radius: 5px;
    color: #fff8d8;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
}

button:hover{
    background-color: #c02929;
}

.resultado{
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: #af0404;
}



